body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: cornsilk;
}
#page {
  display: grid;
  grid-template-areas:
    "header header header header"
    ". main main sidebar"
    ". days days sidebar";
  grid-gap: 15px;
  margin: 0 auto;
}

div.days {
  text-align: center;
  font-size: smaller;
  grid-area: days;
  display: grid;
  grid-template-areas: "today tomorrow after";
}

div.days #today {
  grid-area: today;
  margin: 5px;
}
div.days #tomorrow {
  grid-area: tomorrow;
  margin: 5px;
}
div.days #day-after {
  grid-area: after;
  margin: 5px;
}

#head {
  grid-area: header;
  text-align: center;
  margin: auto;
  border-bottom: solid 5px cadetblue;
  background-color: transparent;
  color: white;
  padding: 0px;
  width: 100%;
  background-image: url("assets/orange-cloud.jpeg");
  background-position: center;
  background-size: cover;
}
#nav-container {
  display: grid;
  grid-template-areas: "cloud maps news severe more";
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: large;
  background: linear-gradient(to bottom, grey, transparent);
}
#nav-container a {
  text-decoration: none;
  color: white;
}

#maps {
  grid-area: "maps";
  margin: auto;
}
#news {
  grid-area: "news";
  margin: auto;
}
#severe {
  grid-area: "severe";
  margin: auto;
}
#more {
  grid-area: "more";
  margin: auto;
}
#nav-container img {
  grid-area: "cloud";
  margin: auto;
  padding-top: 5px;
}

#weather-form {
  background-color: rgba(211, 211, 211, 0.5);
  width: 40%;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px 5px;
}
#subBut {
  color: white;
  background-color: cadetblue;
  border-style: solid;
}

#weather-form div,
#weather-form label {
  padding: 10px;
  margin-bottom: 5px;
}
#weather-form div {
  color: black;
}

div.display {
  grid-area: main;
}
div#conMain {
  text-align: center;
  margin: auto;
  border: 1px solid rgb(212, 212, 212);
  background-color: lavender;
  padding-top: 10px;
}
div.display div {
  padding: 5px;
  font: larger;
}

div.history {
  grid-area: sidebar;
}

.history ul {
  list-style: none;
}

.history ul li {
  padding: 5px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: khaki;
  color: black;
  text-align: center;
  font-size: smaller;
  height: autos;
}
footer img {
  width: auto;
  height: 30px;
  margin-top: 5px;
}
footer div {
  margin-bottom: 10px;
}

h1 {
  color: cadetblue;
}
