#page {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main sidebar";
  grid-gap: 10px;
  margin: 0 auto;
  width: 75%;
}

#head {
  grid-area: header;
  text-align: center;
  margin: auto;
  border: solid 5px black;
  background-color: teal;
  color: white;
  padding: 30px;
  width: 95%;
}
div.display {
  grid-area: main;
  text-align: center;
  margin: auto;
  border: 1px solid teal;
  background-color: lightgray;
  padding-top: 20px;
  width: 95%;
  height: 95%;
}
div.display div {
  padding: 5px;
  font: larger;
}

div.history {
  grid-area: sidebar;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
}
